body{
    background-color:aquamarine;

}

#header_div
{
background-color:darkorange;

}

p
{
    font-weight:200px;
    letter-spacing: 5px;
    font-size: 25px;
}

.main_div
{
    margin-top: 20px;
    width: 30px;
    letter-spacing: 5px;
}

.copy_right_footer
{
    background-color:gray;
    width:fill;
    font-size:20px;
}